{% load static %}


<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>onsectetur adipiscing elit. Quisque loboconsectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Produtos</h3>
              <ul class="footer-link">
                <li><a href="#">Rastreamento</a></li>
                <li><a href="#">Aplicação</a></li>
                <li><a href="#">Planejamento de recursos</a></li>
                <li><a href="#">Empreendimento</a></li>
                <li><a href="#">Gestão de Funcionários</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Recursos</h3>
              <ul class="footer-link">
                <li><a href="#">Opções de pagamento</a></li>
                <li><a href="#">Tabela de preços</a></li>
                <li><a href="#">Comece agora</a></li>
                <li><a href="#">Verificação de Identidade</a></li>
                <li><a href="#">Verificação de cartões</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Capelinha-MG - <br> Rua Doutor Hermelindo, 1168 </a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> (033) 99802-9799</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: elimar_afonso@hotmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>