  {% load static %}

      <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg" xmlns="http://www.w3.org/1999/html">

        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Transforme sua empresa,<br>Confie na melhor!</h2>
                <p>Consectetur adipisicing elitonsectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!</p>
                <div class="header-button">
                  <a href="#" class="btn btn-common">BAIXE AGORA</i></a>
                  <a href="#" class="btn btn-border video-popup">SAIBA MAIS</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Hero Area End -->