{% load static %}

<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Investimento</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$349<span> /mês</span></p>
              </div>
              <div class="title">
                <h3>Pro</h3>
              </div>
              <ul class="description">
                <li>1 usuário</li>
                <li>10 GB de armazenamento</li>
                <li>Suporte por e-mail</li>
                <li>Atualizações vitalícias</li>
              </ul>
              <button class="btn btn-common">ADQUIRA AGORA!</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-drop"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$449<span> /mês</span></p>
              </div>
              <div class="title">
                <h3>Plus</h3>
              </div>
              <ul class="description">
                <li>10 usuários</li>
                <li>30 GB de armazenamento</li>
                <li>Suporte prioritário por e-mail</li>
                <li>Atualizações vitalícias</li>
              </ul>
              <button class="btn btn-common">ADQUIRA AGORA!</button>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-star"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$649<span> /mês</span></p>
              </div>
              <div class="title">
                <h3>Premium</h3>
              </div>
              <ul class="description">
                <li>Usuários ilimitados</li>
                <li>Armazenamento ilimitados</li>
                <li>Suport 24hrs por telefone</li>
                <li>Atualizações vitalícias</li>
              </ul>
              <button class="btn btn-common">ADQUIRA AGORA!</button>
            </div>
          </div>
        </div>
      </div>
    </section>>