
{% load static %}
{% block content %}

  <section id="services" class="section-padding">
    <div class="container">
      <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nossos Serviços</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
{% for servico in serviços %}
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="{{ servico.icone }}"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">{{ servico.nome }}</a></h3>
                <p>{{ servico.descricao }}</p>
              </div>
            </div>
          </div>
          <!-- Services item finished -->

{% endfor %}
        </div>
      </div>
    </section>

 {% endblock %}