{% load static %}
{% block content %}
<section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">NOSSA EQUIPE</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">
            {% for pessoa in funcionarios %}
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->

            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ pessoa.foto.thumb.url }}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">{{ pessoa.nome }}</a></h3>
                  <p>{{ pessoa.cargo }}</p>
                </div>
                <p>{{ pessoa.biografia }}</p>
                <ul class="social-icons">
                  <li><a href="{{ pessoa.facebook }}"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="{{ pessoa.twiter }}"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                 <li><a href="{{ pessoa.instagram }}"><i class="lni lni-instagram-filled" aria-hidden="true"></i></a></li>
                 <li><a href="{{ pessoa.linkedin }}"><i class="lni lni-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}